@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

html, body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}
h1, h2, h3 {
  font-family: 'Raleway', Arial, sans-serif;
}

.main {
  height: 100vh;
}
.nav {

  &__ul {
    display: flex;
    justify-content: center;

    li {
      padding: 0 10px;
      list-style: none;
    }
  }
}

.divider {

  &--horizontal {
    width: 100%;
    margin: 10px 0;
    border: .5px solid rgba(60,60,60,.5);
  }
  &--vertical {
    height: 10vh;
    border: .5px solid rgba(60,60,60,.5);
  }
}
